:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 12px;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

.photo-card {
  cursor: pointer !important;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.photo-img:hover {
  transform: scale(1.03);
}

.photo-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: pointer;
}

.info {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: aliceblue;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-card:hover .info,
.photo-card:focus .info {
  transform: translateY(0);
}

.info-item {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.js-data {
  margin-left: auto;
  margin-right: auto;
}

.search-container {
  background-color: #8a2be2;
  padding-bottom: 10px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
}

.search-querry {
  padding: 4px;
  border: 2px solid #eee;
}

.checkbox-container {
  position: absolute;
  top: 30px;
  left: calc((100% / 2) - 139px);
}

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 4px 8px;
  position: relative;
  overflow: hidden;
  border: 2px solid #2e2be2;
  border-radius: 8px;
  font-weight: 600;
  color: #2e2be2;
  transition: 0.2s ease-in-out;
}

.btn:before {
  content: '';
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
  );
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
.btn:hover,
.btn:focus {
  background: #2e2be2;
  color: #fff;
}

.btn:hover:before,
.btn:focus::before {
  left: 150px;
  transition: 0.5s ease-in-out;
}

header {
  background-color: #8a2be2;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}
